/*This is the Node Button*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
.centered-button {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    /* fully rounded (rounded-full) */
    transition: all 0.3s ease;
    /* duration-300 and transition-all */
    outline: none;
    /* focus:outline-none */
    width: 30%;
    /* or 100% if you want it to fully fill the container */
    height: 30%;
}

.centered-button:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
    /* focus:ring-2 focus:ring-white focus:ring-opacity-50 */
}


.tooltip {
    position: absolute;
    bottom: 100%;
    /* bottom-full */
    left: 50%;
    /* left-1/2 */
    transform: translate(-50%, -0.5rem);
    /* -translate-x-1/2, -translate-y-2 (0.5rem = 8px) */
    background-color: #1e293b;
    /* bg-slate-800 */
    color: white;
    /* text-white */
    font-size: 0.75rem;
    /* text-xs */
    padding: 0.25rem 0.5rem;
    /* px-2 py-1 */
    border-radius: 0.25rem;
    /* rounded */
    white-space: nowrap;
    /* whitespace-nowrap */
}


.custom-box {
    position: relative;
    width: 100%;
}


/*HABIT DETAILS*/
.terminal-text {
    font-family: 'Ubuntu Mono', 'Times New Roman', Times, serif;
    font-size: .8rem;
    color: #00ff00;
    background-color: #000;
    padding: 1rem;
    border-radius: 6px;
}
